.fancy-image
	position relative
	top 0
	left 0
	display inline-block
	box-shadow 0 0 0 $sea-green
	transition left .1s, top .1s, box-shadow .1s
	&:hover
		top -10px
		left -10px
		box-shadow 10px 10px 0 $sea-green
	&__overlay
		position absolute
		top 0
		left 0
		display flex
		flex-direction column
		text-align center
		color white
		background-image linear-gradient(to bottom, rgba($red, .9) , rgba($yellow, .9))
		opacity 0
		transition opacity .2s
		justify-content space-around
		size 100%
		&:hover
			opacity 1
		&_not-gradient
			background-image none
	&__content
		display none
	&__overlay:hover &__content
		display block
	&__bg
		vertical-align top
		user-select none
