mixin fancy-image (url, context, notFly, notGradient)
	- var flyMod = ''
	- var gradinetMod = ''
	- var contextClass = ''
	- if(notFly)
		- flyMod += '_not-fly'
	- if(notGradient)
		- gradinetMod += '_not-gradinet'
	- if(context)
		- contextClass = context + '__'
	+b.fancy-image(class=flyMod)&attributes(attributes)
		+e.overlay(class=gradientMod)
			+e.content(class=contextClass)
				block
		+e('img').bg(src=url alt='' draggable='false')