include ../icon/icon

mixin work (services)
	+b.work
		+wrapper
			+heading('We work with', 'Amazing services')
			+e.services
				- for(var i = 0; i < services.length; i++)
					+e.servise
						+e.icon-block
							+icon(services[i].icon).icon
						+e.text-block
							+e.title=services[i].title
							+e.desc=services[i].desc
