include ../icon/icon

mixin work ()
	+b.work
		+wrapper
			+heading('We work with', 'Amazing services')
			+e.services
				- for(var i = 0; i < 6; i++)
					+e.servise
						+e.icon-block
							+icon('alarm').icon
						+e.text-block
							+e.title
								| Photography
							+e.desc
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, quo.
