$red = #f38181
$yellow = #fce38a
$light-green = #eaffd0
$sea-green = #95e1d3

import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')
