.story
	&__wrapper
		padding-y 50px
	&__cards
		padding-y 60px
		display flex
		justify-content space-between
		flex-wrap wrap
		@media(max-width 1200px)
			justify-content space-around
	&__card
		@media(max-width 1200px)
			padding-y 10px
	&__icon
		size 32px
		fill white
	&__sign
		margin-top 3px
		font-family montserrat
		font-size 18px
		font-weight bold
		text-transform uppercase