mixin feature ()
	+b.feature
		+wrapper
			+heading('For all devices', 'Unique design')
			+e.devices
				+e.ipad
					+e('img').ipad-pic(src='/assets/images/feature/ipad_picture.jpg')
				+e.iphone
					+e('img').iphone-pic(src='/assets/images/feature/iphone_picture.jpg')