include ../story/story
include ../facts/facts
include ../work/work
include ../feature/feature
include ../service/service
include ../quotes/quotes
include ../team/team
include ../brands/brands

mixin index ()
	+b.index
		+story
		+facts
		+work(getData('work'))
		+feature
		+service(getData('service'))
		+quotes(getData('quotes'))
		+team
		+brands