include ../story/story
include ../facts/facts
include ../work/work
include ../feature/feature
include ../service/service

mixin index ()
	+b.index
		+story
		+facts
		+work(getData('work'))
		+feature
		+service(getData('service'))