.quotes
	background #f8f8f8
	&__wrapper
		padding-y 70px
		@media(max-width 600px)
			padding-y 30px
	&__slider
		display flex
		align-items center
		@media(max-width 600px)
			justify-content space-between
			flex-wrap wrap
	&__icon-box
		margin-x 50px
		padding-top 40px
		text-align center
		flex-basis 144px
		flex-shrink 0
		height 144px
		border 3px solid $sea-green
		align-self flex-start
		@media(max-width 980px)
			margin-x 25px
			padding-top 20px
			flex-basis 72px
			height 72px
		@media(max-width 720px)
			display none
	&__items
		overflow hidden
		align-self flex-start
		@media(max-width 600px)
			flex-basis 100%
			flex-shrink 0
	&__icon
		size 61px 63px
		fill $sea-green
		@media(max-width 980px)
			size 30px 32px
	&__nav-btn
		padding-y 10px
		background none
		border none
		border-radius 3px
		&:focus
			background-color rgba(black, .03)
		@media(max-width 600px)
			margin-bottom 10px
			padding-bottom 20px
			&_left
				order -2
			&_right
				order -1
	&__arrow
		margin-x 23px
		cursor pointer
		fill #ccc
		size 22px
		&:hover
			fill $sea-green
		@media(max-width 980px)
			&_left
				margin-left 0
			&_right
				margin-right 0
			