.team
	&__wrapper
		padding-y 50px
	&__members
		margin-top 47px
		display flex
		justify-content space-between
		@media(max-width 700px)
			margin-top 0
			flex-direction column
			align-items center
	&__member
		@media(max-width 700px)
			margin-top 47px
	&__sign
		margin-top 30px
		text-align center
	&__name
		margin-bottom 16px
		font-family montserrat
		font-size 14px
		text-transform uppercase
		color $dark-grey
	&__position
		font-size 15px
		font-style italic