mixin facts ()
	+b.facts
		+wrapper
			+e.row
				+e.col
					+e.number
						| 42
					+e.sign
						| Web design projects
				+e.col
					+e.number
						| 123
					+e.sign
						| Hapy client
				+e.col
					+e.number
						| 15
					+e.sign
						| Award winner
				+e.col
					+e.number
						| 99
					+e.sign
						| Cup of coffee
				+e.col
					+e.number
						| 24
					+e.sign
						| Members