kaushan = KaushanScript, sans-serif
montserrat = Montserrat, sans-serif
roboto = Roboto, sans-serif

@font-face
	font-family 'KaushanScript'
	src local('KaushanScript'),
		local('KaushanScript-Regular'),
		url('../fonts/KaushanScript-Regular.otf') format('opentype')

@font-face
	font-family 'Montserrat'
	src local('Montserrat'),
		local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype')
	font-weight 400
	
@font-face
	font-family 'Montserrat'
	src local('Montserrat'),
		local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype')
	font-weight 800
	
@font-face
	font-family 'Roboto'
	src local('Roboto'),
		local('Roboto-Regular'),
		url('../fonts/Roboto-Regular.ttf') format('truetype')
	font-style normal
	
@font-face
	font-family 'Roboto'
	src local('Roboto'),
		local('Roboto-Italic'),
		url('../fonts/Roboto-Italic.ttf') format('truetype')
	font-style italic