@font-face
	font-family 'KaushanScript'
	src url('../fonts/KaushanScript-Regular') format('otf')

@font-face
	font-family 'Montserrat'
	src local('Montserrat')
		local('Montserrat-Regular')
		url('../fonts/Montserrat-Regular') format('ttf')
	font-weight 400
	
@font-face
	font-family 'Montserrat'
	src local('Montserrat')
		local('Montserrat-Bold')
		url('../fonts/Montserrat-Bold') format('ttf')
	font-weight 800
	
@font-face
	font-family 'Roboto'
	src local('Roboto')
		local('Roboto-Regular')
		url('../fonts/Roboto-Regular') format('ttf')
	font-style 400
	
@font-face
	font-family 'Roboto'
	src local('Roboto')
		local('Roboto-Italic')
		url('../fonts/Roboto-Italic') format('ttf')
	font-style italic