extends /blocks/layout-default/layout-default
include /blocks/index/index
include /blocks/header/header
include /blocks/footer/footer

block head
	- var pageTitle = 'Mogo template';

block content
	+header
	+index
	+footer
