.heading
	padding-y 47px
	text-align center
	&__titles
		color $dark-grey
		&:after
			margin-x auto
			margin-top 43px
			display block
			content ''
			background $red
			size 60px 4px
	&__sub-title
		font-family kaushan
		font-size 24px
	&__title
		margin-top 23px
		font-family montserrat
		font-size 30px
		font-weight bold
		text-transform uppercase
	&__desc
		margin-x auto
		margin-top 45px
		width 80%
		line-height 1.4
		@media(max-width 980px)
			width 100%
	
	