include ../icon/icon
include ../wrapper/wrapper
include ../slider/slider
include ../text-input/text-input

mixin header ()
	+b.header
		+wrapper
			+e.top
				+e.logo
					| MoGo
				+e.menu
					+e('nav').navigation
						+e('a').nav-item(href='#')._selected
							| About
						+e('a').nav-item(href='#')
							| Service
						+e('a').nav-item(href='#')
							| Blog
						+e('a').nav-item(href='#')
							| Work
						+e('a').nav-item(href='#')
							| Contact
					+e.icons
						+e('a').icon-item._shop(href='#')
							+icon('shopping_cart').icon
						+e('a').icon-item._lens(href='#')
							+icon('lens').icon
					+e.search
						+text-input('', 'Search', 'bg-color')
			+e.slider
				+slider