include ../icon/icon
include ../wrapper/wrapper
include ../slider/slider
include ../text-input/text-input

mixin header ()
	+b.header(id='about')
		+wrapper
			+e.top
				+e.logo
					| MoGo
				+e.menu
					+e('nav').navigation
						+e('a').nav-item(href='#about')._selected
							| About
						+e('a').nav-item(href='#service')
							| Service
						+e('a').nav-item(href='#blog')
							| Blog
						+e('a').nav-item(href='#work')
							| Work
						+e('a').nav-item(href='#contact')
							| Contact
					+e.icons
						+e('a').icon-item._shop(href='#')
							+icon('shopping_cart').icon
						+e('a').icon-item._lens(href='#')
							+icon('lens').icon
					+e.search
						+text-input('', 'Search', 'bg-color')
			+e.slider
				+slider