include ../icon/icon
include ../slider/slider

mixin header ()
	+b.header
		+e.top
			+e.logo
				| MoGo
			+e.menu
				+e('nav').navigation
					+e('a').nav-item(href='#')
						| About
					+e('a').nav-item(href='#')
						| Service
					+e('a').nav-item(href='#')
						| Blog
					+e('a').nav-item(href='#')
						| Work
					+e('a').nav-item(href='#')
						| Contact
				+e.icons
					+e.icon._shop
						+icon('shopping_cart')
					+e.icon._lens
						+icon('lens')
		+e.slider
			+slider