.header
	height 1000px
	color white
	background-color $red
	background-image url(../images/header/background.jpg)
	&__wrapper
		padding-y 28px
	&__top
		margin-bottom 28px
		display flex
		font-family montserrat
		justify-content space-between
	&__logo
		font-size 30px
		font-weight bold
	&__navigation
		display inline-block
	&__nav-item
		padding 11px 27px
		display inline-block
		text-decoration none
		color white
		transition color .1s
		text-transform uppercase
		&:hover
			color $yellow
		&_selected
			margin-x 27px
			padding 11px 0
			cursor default
			color $yellow
			border-bottom 3px solid $yellow
	&__icons
		display inline-block
	&__icon-item
		padding 11px 27px
		display inline-block
		&_lens
			padding-right 0
	&__icon
		transition fill .1s
		size 16px
		fill white
		&:hover
			fill $yellow
	&__slider
		padding-top 100px
		height 880px
