include ../fancy-image/fancy-image

mixin works(works)
	+b.works(id='work')
		+wrapper
			+heading('What we do', 'Some our work')
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas cum voluptatem ea fuga suscipit laboriosam eligendi quasi nobis, quia quaerat magnam quod quibusdam a nesciunt itaque dolor rem aliquid praesentium minus numquam! Qui, odit, iure?
		+e.items
			- for(var i = 0; i < 6; i += 2)
				- var path1 = 'assets/images/works/' + (i + 1) + '.jpg'
				- var path2 = 'assets/images/works/' + (i + 2) + '.jpg'
				- var modifier = ''
				- if(i > 3)
					- modifer = '_swap'
				+e.group(class=modifer)
					+e.item
						+fancy-image(path1, 'works', 'notFly')
							+e('a').preview-content(href='#')
								+icon('picture').icon
								+e.preview-sign
									+e.preview-title=works.small[i].title
									+e.preview-desc=works.small[i].desc
					+e.item
						+fancy-image(path2, 'works', 'notFly')
							+e('a').preview-content(href='#')
								+icon('picture').icon
								+e.preview-sign
									+e.preview-title=works.small[i + 1].title
									+e.preview-desc=works.small[i + 1].desc
			+e.item._big
				+fancy-image('assets/images/works/1_big.jpg', 'works', 'notFly')
					+e('a').preview-content(href='#')
						+icon('picture').icon
						+e.preview-sign
							+e.preview-title=works.big[0].title
							+e.preview-desc=works.big[0].desc
