.service
	&__wrapper
		padding-bottom 73px
	&__box
		display flex
		justify-content space-between
		@media(max-width 700px)
			align-items center
			flex-direction column
	&__pictures
		position relative
		overflow hidden
		width 100%
		max-width 570px
		height 380px
		@media(max-width 700px)
			height 200px
	&__menu
		flex-basis 600px
		@media(max-width 1240px)
			margin-left 30px
		@media(max-width 700px)
			margin-top 30px
			margin-left 0
			flex-basis 100%
	&__picture
		position absolute
		opacity 1
		transition opacity .1s linear
		@media(max-width 700px)
			width 100%
	&__menu-item
		margin-bottom 10px
	&__menu-title
		position relative
		padding 15px
		line-height 30px
		cursor pointer
		border 1px solid #e5e5e5
	&__menu-icon
		margin-right 10px
		vertical-align middle
		fill $sea-green
		size 30px
	&__menu-sign
		display inline-block
		font-family montserrat
		font-size 14px
		text-transform uppercase
		color $dark-grey
	&__arrow-icon
		position absolute
		top 20px
		right 20px
		fill #ccc
		size 22px
		&_up
			transform rotateX(180deg)
	&__menu-desc
		padding 15px
		display none
		overflow-y auto
		max-height 170px
		font-size 15px
		font-style italic
		line-height 1.5
		border-left 1px solid #e5e5e5
		border-right 1px solid #e5e5e5
		border-bottom 1px solid #e5e5e5
		transition transform .2s
		transform translateY(0) scaleY(1)
		&_open
			display block