include ../quotes-slider/quotes-slider

mixin reviews(reviews)
	+b.reviews
		+wrapper
			+e.slider
				+e('button').nav-btn._left.quotes-slider__prev
					+icon('arrow_left').arrow._left
				+e.items
					+quotes-slider(reviews, 'assets/images/reviews/', '.jpg')
				+e('button').nav-btn._right.quotes-slider__next
					+icon('arrow_right').arrow._right
