mixin slider()
	+b.slider
		+e.titles
			+e('h2').small-title
				| Creative Template
			+e('h1').big-title
		+e('button').button
			| Learn More
		+e('nav').navigation
			+e.nav-item
				+e('span').number
					| 01
				+e('span').sign
					| Intro
			+e.nav-item
				+e('span').number
					| 02
				+e('span').sign
					| Work
			+e.nav-item
				+e('span').number
					| 03
				+e('span').sign
					| About
			+e.nav-item
				+e('span').number
					| 04
				+e('span').sign
					| Contacts