mixin slider()
	+b.slider
		+e.item
			+e.titles
				+e('h2').small-title
					| Creative Template
				+e('h1').big-title
					span Welcome
					span to Mogo
			+e('button').button
				| Learn More
		+e('nav').navigation
			+e('a').nav-item(href='#')._selected
				+e.line
				+e('span').number
					| 01
				+e('span').sign
					| Intro
			+e('a').nav-item(href='#')
				+e.line
				+e('span').number
					| 02
				+e('span').sign
					| Work
			+e('a').nav-item(href='#')
				+e.line
				+e('span').number
					| 03
				+e('span').sign
					| About
			+e('a').nav-item(href='#')
				+e.line
				+e('span').number
					| 04
				+e('span').sign
					| Contacts