.slider
	display flex
	flex-direction column
	height 100%
	text-align center
	justify-content space-between
	&__items
		display flex
		overflow-x auto
		// @stylint off
		overflow -moz-scrollbars-none
		-webkit-overflow-scrolling touch
		-ms-overflow-style none
		&::-webkit-scrollbar
			width 0 !important
		// @stylint on
	&__item
		user-select none
		flex-shrink 0
		flex-basis 100%
	&__titles
		&:after
			display inline-block
			content ''
			background-color #fff
			size 60px 3px
	&__small-title
		padding-y 30px
		font-family kaushan
		font-size calc(3vw + 54px)
		@media(max-width 1240px)
			padding-y 20px
		@media(max-width 980px)
			font-size calc(1vw + 34px)
	&__big-title
		padding-y 30px
		font-family montserrat
		font-size calc(6vw + 38px)
		font-weight bold
		text-transform uppercase
		span
			white-space nowrap
		@media(max-width 1240px)
			padding-y 20px
		@media(max-width 980px)
			font-size calc(3vw + 28px)
	&__button
		margin-y 50px
		padding-x 30px
		height 40px
		font-family montserrat
		font-size 14px
		text-transform uppercase
		color white
		background none
		border 3px solid white
		transition border .1s, color .3s
		@media(max-width 980px)
			padding-x 20px
			height 30px
		&:hover
			border 3px solid $yellow
		&:active
			color $red
		&:focus
			color $red
			border 3px solid $red
	&__navigation
		display flex
		flex-wrap wrap
		justify-content space-between
	&__nav-item
		font-family montserrat
		text-align left
		text-decoration none
		color rgba(white, .7)
		flex-basis 24%
		flex-shrink 0
		&:hover
			color rgba(white, 1)
		&:focus
			color white
			& ^[0]__number
				margin-top 16px
				font-size calc(.67vw + 15px)
		&_selected
			color rgba(white, 1)
	&__line
		display inline-block
		background-color rgba(white, .5)
		size 100% 3px
	&__progress-line
		width 0
		height 100%
		background-color $red
	&__sign
		font-size calc(.2vw + 12px)
		text-transform uppercase
	&__number
		margin-top 21px
		margin-right 3px
		display inline-block
		font-size calc(.62vw + 12px)
		font-weight bold
		@media(max-width 540px)
			display none