include ../icon/icon

mixin share-box ()
	+b.share-box
		+e('button').button
			+icon('facebook').icon
		+e('button').button
			+icon('twitter').icon
		+e('button').button
			+icon('pinterest').icon
		+e('button').button
			+icon('instagram').icon